<template>
  <v-app>
    <v-main>
      <v-container>
        <v-row>
          <v-col cols="8">
            <v-form v-model="valid">
              <v-jsf v-model="model" :schema="schema" :options="options"/>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import VJsf from '@koumoul/vjsf/lib/VJsf.js'
import '@koumoul/vjsf/lib/VJsf.css'
import '@koumoul/vjsf/lib/deps/third-party.js'
// import * as schema from '../../yaffol-react-jsonschema-form/packages/playground/src/data/grant_template_dereferenced.json'
import * as schema from './schema/test_template.json'
// import * as schema from './schema/journal_article_template.vjsf.json'
export default {
  name: 'App',
  components: { VJsf },
  data: () => ({
    valid: false,
    model: {},
    schema: schema.default,
    options: {
      dialogProps: { maxWidth: 650 }
    }
  })
}
</script>
