<template lang="html">
  <v-app>
    <v-app-bar color="primary" dark fixed app>
      <v-toolbar-title>vuetify-jsonschema-form demo</v-toolbar-title>
    </v-app-bar>
    <v-content>
      <v-container fluid grid-list-md>
        <v-layout row>
          <v-flex xs5>
            <h2 class="title my-4">
              Schema:
            </h2>
            <v-layout row wrap>
              <v-flex xs6>
                <v-select v-model="example" :items="examples" :return-object="true" item-text="title" label="Choose an example" @change="applyExample" />
              </v-flex>
              <v-flex xs6>
                <v-container>
                  <v-layout row wrap>
                    <v-spacer />
                    <v-btn text @click="formatSchema">
                      Format
                    </v-btn>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>

            <v-textarea v-model="schemaStr" :error-messages="schemaError ? [schemaError.message] : []" :rows="20" @input="applySchema" />

            <h2 class="title my-4">
              Options:
            </h2>
            <pre>{{ JSON.stringify(options, null, 2) }}</pre>
          </v-flex>
          <v-flex xs7 pl-4 pr-4>
            <h2 class="title my-4">
              Form
              <v-chip v-if="formValid" color="success">
                valid
              </v-chip>
              <v-chip v-else color="danger">
                invalid
              </v-chip>
              <v-btn color="primary" @click="$refs.myForm.validate()">
                validate
              </v-btn>
            </h2>

            <v-form ref="myForm" v-model="formValid">
              <v-jsf
                v-if="schema"
                value={}
                :schema="schema"
                v-model="model"
                :options="options"
                @error="e => window.alert(e)"
                @change="change"
                @input="input"
              >
                <template v-slot:prepend-fullKeySlot="{}">
                  Prepend slot<br>
                </template>
                <template v-slot:append-fullKeySlot="{}">
                  Append slot
                </template>
                <template v-slot:fullKeySlot="{fullSchema}">
                  Full key slot: {{ fullSchema.description }}<br>
                </template>
                <template v-slot:custom-1="{fullSchema}">
                  Custom display slot: {{ fullSchema.description }}
                </template>
              </v-jsf>
            </v-form>
            <h2 class="title my-4">
              Data:
            </h2>
            <pre>{{ JSON.stringify(model, null, 2) }}</pre>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
// import examples from './examples'
import VJsf from '@koumoul/vjsf/lib/VJsf.js'
import '@koumoul/vjsf/lib/VJsf.css'
import hjson from 'hjson' // more tolerant parsing of the schema for easier UX
import examples from './examples'
export default {
  components: { VJsf },
  data: function () {
    return {
      window,
      model: {},
      schema: null,
      schemaStr: '{}',
      schemaError: null,
      dataObject: {},
      examples,
      example: examples[0],
      formValid: false,
      options: null
    }
  },
  mounted () {
    if (window.location.search) {
      const key = window.location.search.replace('?example=', '')
      this.example = examples.find(e => e.key === key)
      console.log(this.example)
    }
    this.applyExample()
  },
  methods: {
    applySchema () {
      try {
        this.schema = hjson.parse(this.schemaStr)
        this.schemaError = null
      } catch (err) {
        this.schemaError = err
      }
    },
    formatSchema () {
      try {
        const schema = hjson.parse(this.schemaStr)
        this.schemaStr = JSON.stringify(schema, null, 2)
        this.schemaError = null
      } catch (err) {
        this.schemaError = err
      }
    },
    applyExample () {
      const queryParams = `?example=${this.example.key}`
      if (window.location.search !== queryParams) window.location.search = queryParams

      this.schema = null
      setTimeout(() => {
        this.options = {
          debug: true,
          disableAll: false,
          autoFoldObjects: true,
          context: { owner: { type: 'organization', id: '5a5dc47163ebd4a6f438589b' } },
          accordionMode: 'normal',
          ...this.example.options || {}
        }
        this.dataObject = JSON.parse(JSON.stringify(this.example.data || {}))
        this.schemaStr = JSON.stringify(this.example.schema, null, 2)
        this.applySchema()
      }, 1)
    },
    change (e) {
      console.log('"change" event', e)
    },
    input (e) {
      console.log('"input" event', e)
    }
  }
}
</script>

<style lang="css">
</style>
